.form {
  margin: 2rem 0;
  height: 20rem;
  overflow: scroll;
}

.control {
  margin-bottom: 0.5rem;
}

.control label {
  font-weight: bold;
  margin-bottom: 0.25rem;
  display: block;
}

.control input {
  font: inherit;
  border: 1px solid #ccc;
  border-radius: 8px;
  padding: 10px;
  width: 20rem;
  max-width: 100%;
}

.actions {
  display: flex;
  justify-content: flex-end;
}

.actions .cancel {
  background-color: var(--red);
  color: var(--light);
  margin: 0.3rem 0.2rem;
}

.actions .orderBtn {
  background-color: var(--yellow);
  color: var(--light);
  margin: 0.3rem 0.2rem;
}

.cancel:hover,
.orderBtn:hover {
  opacity: 70%;
}

.cancel:active,
.orderBtn:active {
  opacity: 50%;
}
