.input {
  display: flex;
  align-items: center;
  justify-content: flex-end; /* Align the input component to the right */
  margin-bottom: 0.5rem;
}

.input label {
  font-weight: bold;
  margin-right: 1rem;
}

.input input {
  width: 4rem;
  border-radius: 12px;
  border: 1px solid #ccc;
  font: inherit;
}
